<!DOCTYPE html>
<html>
    <head>
        <title>Modifica {{website.domain}}</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link rel="stylesheet" href="/libs/FlexiJsonEditor/jsoneditor.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="/libs/FlexiJsonEditor/json2.js"></script>
        <script src="/libs/FlexiJsonEditor/jquery.jsoneditor.js"></script>
        <style>
            .json-editor .value { 
                width: 600px;
            }
            .json-editor {
                padding-top: 10px;
                margin: 0px;
            }
        </style>
    </head>
    <body>
        <section style="background-color: #eee;">
            <div class="container open" style="width: 100%;">
                <div class="row">
                    <div class="col-md-6" style="border: 1px solid #eee; background: #fff; padding: 0px;">
                        <form id="websiteContentForm" method="post" action="/admin/site/update/{{website.domain}}">
                            <div style="width: 100%; height: 345px; overflow: scroll; padding: 0px;">
                                <textarea id="json_input" name="websiteContent" style="width: 100%; max-width: 100%; height: 22px; overflow: none;">{% autoescape false %}{{website.content|json_encode}}{% endautoescape %}</textarea>
                                <div class="json-editor" id="editor" name="content" style="width: 1024%; height: 768px;"></div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-3">
                        <div style="background-color: #fff; margin-left: -10px; border: 1px solid #ddd; width: 110%; height:340px; margin-top: 4px; padding: 1em;">
                            <div style="width: 100%; height: 280px; padding-right: 1em; overflow-y: scroll; overflow-x: hidden;">
                                {% if pictures is empty %}
                                    Nessuna immagine caricata
                                {% else %}
                                    <div class="row">
                                    {% for index, picture in pictures %}
                                        {% if picture.Key|split('/')|last is not empty %}
                                            <div class="col-md-4" style="padding: 5px; height: 100%">
                                                <div style="margin: 3px; font-size: 12px; color: #aaa; border: 1px solid #ddd; width: 100%">
                                                    <a href="/admin/site/deletePicture/{{website.domain}}/{{picture.Key|split('/')|last}}" style="float: right;">X</a>&nbsp;
                                                    {% set pictureExtension = picture.Key|split('.')|last %}
                                                        {% if pictureExtension in ['jpg', 'jpeg', 'png'] %}
                                                            <span style"word-wrap: break-word;">
                                                                {{picture.Key|split('/')|last}}
                                                            </span>
                                                            <img style="width: 100%; margin-bottom: 4px" src="https://s3.eu-central-1.amazonaws.com/app-zero-storage/{{picture.Key}}" alt="Image not found"/>
                                                        {% else %}
                                                            <p style="word-break: break-all; color: black">
                                                            https://s3.eu-central-1.amazonaws.com/app-zero-storage/{{picture.Key}}
                                                            </p>
                                                        {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                            <div style="border: 1px solid #acf; border-radius: 5px; margin-top: 4px; background: #f5f5f5; height: 36px">
                                <form action="/admin/site/uploadPictures/{{website.domain}}" method="POST" enctype="multipart/form-data">
                                    <input style="display: inline-block" name="pictures[]" type="file" multiple="multiple">
                                    <input class="btn btn-info" type="submit" value="upload" style="float: right;">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div id="textureTestBackground" style="margin-left: -10; margin-top: 6px; max-height:180px; border: 1px solid #aaa; background: #fff;">
                            {% if textures is empty %}
                                Non ci sono texture caricate
                            {% else %}
                                <script>
                                    function invertTestColor(){
                                        var testBackgroundColor = $('#testColor').css('color');
                                        var testTextColor = $('#testColor').css('background-color');
                                        $('#testColor').css({'background-color':testBackgroundColor, 'color': testTextColor});
                                        $('#textureTestBackground').css({'background-color':testBackgroundColor});
                                    };
                                    
                                </script>
                                <a id="testColor" onclick="invertTestColor()" style="float: right; background-color: #fff; color: #000; width: 20%; height: 23px; z-index: 1000; border-bottom: 1px solid #aaa; font-size: 85%; padding: 4px 0px 0px 6px;">test color</a>
                                <input id="textureName" type="text" style="padding-left: 4px; width:80%; border: none; border-bottom: 1px solid #aaa;" placeholder="Clicca sulla texture" readonly="readonly">
                                <div style="padding: 4px 0px 0px 4px; width: 100%; max-height: 150px; overflow-x: hidden; overflow-y: scroll;">
                                    {% for index, texture in textures %}
                                        {% if index > 0 %}
                                            <div style="width: 64px; height: 64px; display: inline-block; overflow: hidden;">
                                                <img onclick="$('#textureName').val('{{(texture.Key|split('/')|last)|split('.')|first}}').select();" class="textureThumbnail" src="https://s3.eu-central-1.amazonaws.com/app-zero-storage/{{texture.Key}}" />
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <div style="margin-top: 12px; margin-bottom: 5px;">
                            {% for fontFamily in fontFamilies %}
                                {% for font in fontFamily.fonts %}
                                <link href='http://fonts.googleapis.com/css?family={{(font|split(','))|first|replace({" ": "+",})}}:400,700,300,300italic,400italic,700italic' rel='stylesheet' type='text/css'>
                                {% endfor %}
                            {% endfor %}
                            <input onclick="if($('#fontSelect').is(':hidden')) {$('#fontSelect')[0].size = 20; $('#fontSelect').width($(this).width()+2); $('#fontSelect').show()} else {$('#fontSelect').hide(); $(this).select();}" style="width: 100%; height: 24px;" type="text" id="fontInput" list="fonts" placeholder="Scegli il font" />
                            <select id="fontSelect" onfocusout="$(this).hide();" onchange="$(this).hide(); $('#fontInput').val($(this).val()).select();" style="width: 100%; display: none; border-color: #ccc; min-height: 24px; z-index: 1000; position: absolute;">
                                {% for fontFamily in fontFamilies %}
                                    <optgroup label="{{fontFamily.title}} - {{fontFamily.description}}">
                                        {% for font in fontFamily.fonts %}
                                            <option value="{{font}}, {{fontFamily.fallbacks|join(', ')}}" style="font-size: 125%; font-family: {{font}}">{{font}}</option>
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row" style="margin-top: 12px;">
                            <div class="col-md-6">
                                <h5 style="word-wrap: break-word"><u>{{website.domain}}</u></h5>
                                <a onclick="printJSON(); $('#websiteContentForm').submit();" type="submit" href="#" class="btn btn-success">aggiorna</a>

                                <br/>
                                <form method="post" action="/admin/site/restore/{{website.domain}}">
                                    <input class="btn btn-danger btn-sm" style="font-size: 75%; margin-top: 8px; padding: 4px;" value="Ripristina versione precedente" type="submit"/>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <p>Creato:<br/>{{website.created|date("Y-m-d H:i:s")}}</p>
                                <p>Aggiornato:<br/>{{website.updated|date("Y-m-d H:i:s")}}</p>
                                <div style="text-align: right;"><a href="/admin/">Esci dall'editor</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <section>
        <div style="height: 50%">
            <iframe src="/preview/{{website.domain}}" style="width:100%; height: 800px; border: 0px; border-top: 1px solid #bbb;"></iframe>
        </div>
    </body>
    <script>
        var json = JSON.parse($('#json_input').val());

        function printJSON() {
            $('#json_input').val(JSON.stringify(json, null, 4));
        }

        function updateJSON(data) {
            json = data;
            printJSON();
        }

        function showPath(path) {
            $('#path').text(path);
        }

        $(document).ready(function() {
            printJSON();
            $('#json_input').change(function() {
                var val = $('#json_input').val();

                if (val) {
                    try { json = JSON.parse(val); }
                    catch (e) { alert('Error in parsing json. ' + e); }
                } else {
                    json = {};
                }
                
                $('#editor').jsonEditor(json, { change: updateJSON, propertyclick: showPath });
            });

            $('#expander').click(function() {
                var editor = $('#editor');
                editor.toggleClass('expanded');
                $(this).text(editor.hasClass('expanded') ? 'Collapse' : 'Expand all');
            });
            
            printJSON();
            $('#editor').jsonEditor(json, { change: updateJSON, propertyclick: showPath });
    });
    </script>
</html>